{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}Order Placed Successfully{% endblock %}
{% block qp_active %}active{% endblock %}
{% load cart %}

{% block content %}
      
<div class="container my-5">
    <h1 class="text-center">Order Placed Successfully</h1>
    <p class="text-center">Your order has been placed and is being processed. Thank you for your business!</p>
    <div class="mt-2 d-flex justify-content-center">
      <a href="/" class="mr-2 btn btn-warning">Return to Home</a>
      <span><a href="/quickpurchase" class="btn btn-warning">Return to Quickpurchase</a></span>
    </div>
  </div>


{% endblock %}

    