{% extends 'base-1.html' %}
{% block title %}Reset Password{% endblock %}
{% load static %}

{% block content %}



<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="centered loginscreen animated fadeInDown">
                <div class="centered text-center">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="ibox-content">
                    <div class="login-form">
                        <h2 class="font-bold text-center">Reset Password</h2>
                        <form method="post" class="m-t form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Enter old password</label>
                            <input type="password" class="form-control" required id ="id_old_password" name="old_password" placeholder="Old password">
                        </div>

                        <div class="form-group">
                            <label>Enter new password</label>
                            <input type="password" class="form-control" required id ="id_new_password1" name="new_password1" placeholder="New Password *">
                        </div>

                        <div class="form-group">
                            <label>Re-enter new password</label>
                            <input type="password" class="form-control" required="" id ="id_new_password2" name="new_password2" placeholder="Confirm New Password *">
                        </div>
                        <button type="submit" class="btn btn-primary btn-transparent block full-width">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- End Login Area -->




    <!-- <div class="login_wrapper_top float_left">
        <div class="login_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="login_tab_top_wrap float_left">
                        <div class="btn_log">
                            <a href="#">Change Password </a>
                        </div>

                        <div class="login_wrapper  float_left">
                            <form method="post">
                                {% csrf_token %}
                                

                                <div class="formsix-e">
                                    <div class="form-group i-password">
                                        <input type="password" class="form-control" required="" id ="id_new_password1" name="new_password1" placeholder="New Password *">
                                    </div>
                                </div>

                                <div class="formsix-e">
                                    <div class="form-group i-password">
                                        <input type="password" class="form-control" required="" id ="id_new_password2" name="new_password2" placeholder="Confirm New Password *">
                                    </div>
                                </div>

                               
                                {% for field in form %}
                                {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                                {% endfor %}
                               
                                <div class="header_btn inner_btn login_btn log float_lef justify-content-center">
                                    <div class="response"></div>
                                    <div class="contact_btn_wrapper med_toppadder30">
                                        <button type="submit" class="submitForm">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    
    {% endblock %}
   