{% extends 'base-1.html' %}
{% block title %}Reset Password{% endblock %}
{% load static %}

{% block content %}



<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="centered animated fadeInDown">
                <div class="ibox-content custom-vertical-align">
                    <h2 class="font-bold">Forgot password?</h2>
                    <p>
                        Please indicate the email address used so that we can send you your password.
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="POST" class="fos_user_resetting_request">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" name="email" required class="form-control" value="">
                                    <!-- <input type="email" class="form-control" required="" name="email" placeholder="Email"> -->
                                </div>
                                <div>
                                    <input type="submit" value="Reset password" class="btn btn-primary block full-width m-b">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
   

