{% extends 'base-1.html' %}
{% block title %}Services{% endblock %}
{% block services_active %}active{% endblock %}
{% load static %}


{% block content %}

        <!-- Start Page Banner -->
        <div class="page-banner-area item-bg4"> 
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>Services</h2>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        
        <!-- Start Services Area -->
        <section class="services-area bg-fafafa pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        {% for data in all_services %}
                        <div class="single-services-item">
                            <div class="image">
                                <a href="{% url 'services_details' data.id %}">
                                    <img style="width:400; height:300" src="{{ data.Thumbnail.url }}" alt="image">
                                </a>
                            </div>
                            <div class="content">
                                <h3>
                                    <a href="{% url 'services_details' data.id %}">{{ data.Service_Title }}</a>
                                </h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="default-shape">
                <div class="shape1">
                    <img src="{% static 'images/default-shape/default-shape1.png' %}" alt="image">
                </div>
                <div class="shape2">
                    <img src="{% static 'images/default-shape/default-shape2.png' %}" alt="image">
                </div>
                <div class="shape3">
                    <img src="{% static 'images/default-shape/default-shape3.png' %}" alt="image">
                </div>
                <div class="shape4">
                    <img src="{% static 'images/default-shape/default-shape4.png' %}" alt="image">
                </div>
            </div>
        </section>
        <!-- End Services Area -->

        <!-- Start Industries Area -->
        <section class="industries-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span>Industries We Work For</span>
                    <h2>Helping Businesses in All Domains</h2>
                    <div class="bar"></div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-digital-marketing-2"></i>
                            <h3>Digital Marketing</h3>
                            <a href="#"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-bank"></i>
                            <h3>Banking Services</h3>
                            <a href="#"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-graduation-cap"></i>
                            <h3>Education Services</h3>
                            <a href="#"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-stock-market"></i>
                            <h3>Business Consult</h3>
                            <a href="#"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-employee"></i>
                            <h3>Entrepreneur</h3>
                            <a href="#"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-waiter"></i>
                            <h3>Restaurant</h3>
                            <a href="#"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-stethoscope"></i>
                            <h3>Health Services</h3>
                            <a href="#"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-industries-box">
                            <i class="flaticon-user"></i>
                            <h3>Social Network</h3>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Industries Area -->

    {% endblock %}