{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Upload File</title>
    <link rel="icon" type="image/png" href="{% static 'images/shortlogo.png' %}">
</head>

<body style="background: black;">

    <div class="container">
        <div style="height:245px; width:500px" class="border p-3 rounded d-flex justify-content-center m-auto">
            <div class="py-2">
                <h3 class="text-center alert bg-dark text-white">Upload File</h3>
                <form id="wupld" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group form-group-v2  col-12">
                        <div class="custom-file  m-t-xs">
                            <label for="myfile">Spreadsheet</label>
                            <input name="myfile" id="myfile" type="file" accept=".xlsx, .xls, .csv" />
                            <label class="custom-file-label" for="myfile">Select a file in .xlsx, .xls, & .csv
                                format.</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-warning w-100" type="submit"> <b>UPLOAD</b></button><br>
                    </div>
                    {% if messages %}
                            {% for message in messages %}
                               <p class="mt-2 text-success text-center">{{message}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Meanmenu JS -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- Appear Min JS -->
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>
    <!-- Odometer Min JS -->
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <!-- Owl Carousel JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Popup JS -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <!-- Ajaxchimp JS -->
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <!-- Form Validator JS -->
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <!-- Contact JS -->
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <!-- Wow JS -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>