.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-header-new{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f2f7;
    border-bottom: 1px solid #e4e6eb;
}